html, body {
    width: 100%;
    height: 100%;
}
body {
    background: #f5f7fa;
    padding: 40px 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #51565d;
    --rouge-ucl: hsl(5, 78%, 51%);
}
#calendar {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, minmax(120px, 1fr));
    grid-template-rows: 50px;
    grid-auto-rows: 120px;
    overflow: auto;
}
#calendar-container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #fff;
    max-width: 1200px;
}
#calendar-header {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(to bottom, #fafbfd 0%, rgba(255, 255, 255, 0) 100%);
    border-bottom: 1px solid rgba(166, 168, 179, 0.12);
}
#calendar-header > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
}
#calendar-header h1 {
    margin: 0 10px;
    font-size: 18px;
}
#calendar-header p {
    margin: 5px 0 0 0;
    font-size: 13px;
    font-weight: 600;
    color: rgba(81, 86, 93, 0.4);
}
#calendar-header button {
    background: 0;
    border: 0;
    padding: 0;
    color: rgba(81, 86, 93, 0.7);
    cursor: pointer;
    outline: 0;
}

.day {
    border-bottom: 1px solid rgba(166, 168, 179, 0.12);
    border-right: 1px solid rgba(166, 168, 179, 0.12);
    text-align: right;
    padding: 8px 0 0 0;
    letter-spacing: 1px;
    font-size: 14px;
    box-sizing: border-box;
    color: #98a0a6;
    position: relative;
}
.day > div {
    overflow-y: scroll;
    height: 80%;
}
.day h5 {
    position: relative;
    text-align: right;
    margin: 5px 10px;
}
.day:nth-of-type(7n + 7) {
    border-right: 0;
}
.day:nth-of-type(n + 1):nth-of-type(-n + 7) {
    grid-row: 2;
}
.day:nth-of-type(n + 8):nth-of-type(-n + 14) {
    grid-row: 3;
}
.day:nth-of-type(n + 15):nth-of-type(-n + 21) {
    grid-row: 4;
}
.day:nth-of-type(n + 22):nth-of-type(-n + 28) {
    grid-row: 5;
}
.day:nth-of-type(n + 29):nth-of-type(-n + 35) {
    grid-row: 6;
}
.day:nth-of-type(7n + 1) {
    grid-column: 1/1;
}
.day:nth-of-type(7n + 2) {
    grid-column: 2/2;
}
.day:nth-of-type(7n + 3) {
    grid-column: 3/3;
}
.day:nth-of-type(7n + 4) {
    grid-column: 4/4;
}
.day:nth-of-type(7n + 5) {
    grid-column: 5/5;
}
.day:nth-of-type(7n + 6) {
    grid-column: 6/6;
}
.day:nth-of-type(7n + 7) {
    grid-column: 7/7;
}
.day-name {
    font-size: 12px;
    text-transform: uppercase;
    color: #99a1a7;
    text-align: center;
    border-bottom: 1px solid rgba(166, 168, 179, 0.12);
    line-height: 50px;
    font-weight: 500;
}
.day--disabled {
    color: rgba(152, 160, 166, 0.6);
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    cursor: not-allowed;
}

.task {
    padding: 6px;
    margin: 1px 0;
    font-size: 17px;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}
.task:hover {
    white-space: normal;
    text-overflow: unset;
    word-break: break-all;
}
.start {
    border-left-width: 4px;
    border-left-style: solid;
}
.task:hover {
    cursor: pointer;
}
.ucl{
    background-color: var(--rouge-ucl);
    border-left-color: black;
    color: white;
}

.lgbti {
    background: linear-gradient(
            90deg,
            #d81124 0%,
            #e47401 20%,
            #ffff01 40%,
            #028343 60%,
            #000092 80%,
            #700272 100%
    );
    border-left-color: #700272;
    color: #2c2c2c;
    font-weight: bold;
}

.transidentitee {
    background-color: #f5a8b8;
    border-left-color: #5bcefa;
    color: white;
}

.antifa {
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, var(--rouge-ucl) 100%);
    border-left-color: black;
    color: white;
}

.ecologie {
    background-color: #3fa73c;
    border-left-color: black;
    color: white;
}

.feminisme {
    background-color: #591978;
    border-left-color: #d8c4e6;
    color: white;
}

.visible {
    display: block;
}
.hidden {
    display: none;
}
#pop-up {
    position: absolute;
    border: 1px solid rgba(166, 168, 179, 0.2);
    width: 400px;
    left: calc(50% - 200px);
    top: 20%;
    background-color: white;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
    z-index: 0;
}
#pop-up h3 {
    margin: 12px 15px;
}
#pop-up > div {
    padding: 0 40px 24px 40px;
}
#pop-up section {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
#pop-up section > span {
    align-self: flex-start;
}
#pop-up section > span {
    margin-right: 10px;
}
#pop-up p {
    margin: 0;
}
#description {
    overflow-y: auto;
    max-height: 300px;
    padding-right: 10px;
}
#pop-up:before {
    border-bottom-color: rgba(166, 168, 179, 0.2);
    border-width: 8px;
    margin-left: -8px;
}
#pop-up:after {
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: -6px;
}

@media only screen and (max-width: 600px){
    body {
        padding: 0;
        margin: 0;
    }
    #calendar-container {
        margin: 0;
        width: 100%;
    }
    #calendar {
        grid-template-columns: repeat(7, minmax(50px, 1fr));
        grid-auto-rows: 90px;
    }
    .task {
        font-size: 14px;
    }
    .day > div {
        overflow-y: scroll;
        height: 75%;
    }
}
@media only screen and (min-width: 601px) and (max-width: 950px){
    #calendar {
        grid-template-columns: repeat(7, minmax(75px, 1fr));
    }
}